{% extends "core/email/base.html" %}

{% block title %}Password Change Request{% endblock title %}

{% block content %}
<span class="text">Hi{% if user.first_name %} {{user.first_name}}{% endif %},</span><br/><br/>
<span class="text">We've received a request to change your password, please click the link below to verify:</span><br/><br/>
<span class="link"><a href="{{password_reset_url}}">Change my password</a></span><br/><br/>
<span class="text bold">Important:</span>
<span class="text"> If you didn't request this change, kindly ignore the link and contact us immediately.</span><br/><br/>
<span class="text">Thank you for helping us keep your account secure!</span><br/><br/>
<span class="text">Best Regards,</span><br/>
<span class="text">Nexus Group LLC</span>
{% endblock content %}